/* line 1, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.navbar-aac {
  margin-bottom: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  color: white;
  font-family: 'Lato', sans-serif; }
  /* line 8, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .navbar-aac a.navbar-brand, .navbar-aac a.navbar-brand:hover {
    color: black;
    text-transform: none; }
  /* line 13, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .navbar-aac .navbar-collapse {
    margin-left: 40px; }
  /* line 18, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .navbar-aac .navbar-nav {
    height: 70px;
    margin: 0;
    padding: 0;
    width: 100%; }
    /* line 24, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
    .navbar-aac .navbar-nav li {
      width: 20%;
      height: 70px;
      line-height: 70px;
      text-align: center; }
      /* line 30, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
      .navbar-aac .navbar-nav li a {
        height: 70px;
        padding: 0;
        font-size: 16px;
        overflow: hidden;
        background: white;
        color: black;
        text-transform: uppercase;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 500px;
        -moz-perspective: 500px;
        perspective: 500px; }
        /* line 49, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
        .navbar-aac .navbar-nav li a span {
          position: relative;
          display: block;
          line-height: 70px;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
        /* line 62, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
        .navbar-aac .navbar-nav li a span:first-child {
          transform: rotateX(0deg);
          transform-origin: center bottom;
          background: white;
          z-index: 2; }
        /* line 69, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
        .navbar-aac .navbar-nav li a span:last-child {
          transform: rotateX(-90deg);
          background: black;
          color: white;
          transform-origin: center top;
          z-index: 1; }
      /* line 79, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
      .navbar-aac .navbar-nav li a:hover span:first-child {
        margin-top: -70px;
        transform: rotateX(90deg);
        z-index: 1; }
      /* line 85, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
      .navbar-aac .navbar-nav li a:hover span:last-child {
        margin-top: 0;
        transform: rotateX(0deg);
        z-index: 2; }

/* line 96, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.section.welcome h2 {
  padding: 150px 30px 0 30px; }
/* line 100, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.section.welcome h3 {
  padding-bottom: 150px; }

/* line 105, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.section.projects {
  position: relative; }
  /* line 108, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .section.projects h3 {
    font-size: 40px; }
  /* line 112, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .section.projects .arrow {
    width: 40px;
    height: 85px; }
  /* line 117, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .section.projects .prev-arrow {
    background: url("../images/slider-prev.svg") no-repeat;
    display: block;
    position: absolute;
    left: 30px;
    top: 195px;
    z-index: 999; }
  /* line 126, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .section.projects .next-arrow {
    background: url("../images/slider-next.svg") no-repeat;
    display: block;
    position: absolute;
    right: 30px;
    top: 195px;
    z-index: 999; }
  /* line 135, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
  .section.projects .item {
    max-width: 600px;
    margin: 0 auto; }
    /* line 139, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
    .section.projects .item img {
      margin: 25px 0; }
    /* line 143, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
    .section.projects .item h3 {
      font-size: 30px; }
    /* line 147, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
    .section.projects .item p {
      text-align: center;
      font-weight: lighter;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 14px; }

/* line 157, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.section.services h4 {
  text-align: left;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
/* line 163, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.section.services p {
  text-align: left;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px; }
/* line 170, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.section.services p.first-box {
  margin-bottom: 30px; }

/* line 175, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.box {
  margin: 15px 0px;
  height: 177px; }

/* line 180, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
h2 {
  margin: 0 auto;
  letter-spacing: -2px;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
  text-align: center;
  max-width: 1140px; }

/* line 192, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
h3 {
  margin: 10px auto;
  letter-spacing: -1px;
  font-weight: 300;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  line-height: 1em;
  text-align: center; }

/* line 202, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
a, a:hover {
  text-decoration: none;
  color: black; }

/* line 207, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
hr {
  max-width: 1110px;
  margin: 20px auto;
  line-height: 18px; }

/* line 213, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
img.work {
  max-width: 100%;
  margin: 20px 0; }

/* line 218, /Users/adam/Projects/ruby/aac/source/stylesheets/all.scss */
.footer {
  width: 100%;
  text-align: center;
  bottom: 0px;
  font-size: 11px; }
